.center {
	text-align: center;
	
}

.baseBorder{
	border: 10px solid red;
	border-radius: 25px;
}

#homeTitle {
	margin-left: 25%;
	margin-right: 25%;
	padding: 150px;
	
	
}

#homeWords {
	margin-left: 35%;
	margin-right: 35%;
	padding: 20px;
}

#startButton{
	margin: auto;
}