{% extends "layout.html" %}

{% block title %}Space Quiz{% endblock %}

{% block body %}
<div class="center">
	<h1>Final Score</h1>
	<h2>{{score}}</h2>
	<br><br>
	<h2>Questions:</h2>
		{% for i in range(qLength) %}
			{% set index = i + 1 %} 
			<p>Question {{ index }}: {{ questionsScore[i] }}</p>
		{% endfor %}
		<br>
		<br>
		{% set minutes = (startTime / 1000) / 60 %}
		{% set seconds = (startTime / 1000) % 60 %}
		<h2>Total time taken: {{ minutes|int }} minutes, {{ seconds|int }} seconds</h2>
	<form action="/">
		<button type="submit">Restart</button>
	</form>
	
</div>
{% endblock %}