{% extends "layout.html" %}

{% block title %}Space Quiz{% endblock %}



{% block body %}
<div id="homeTitle" class="baseBorder">
	<h1 class="center">Space Quiz</h1>
</div>

<br>

<div id="homeWords" class="baseBorder">
	<h3 class="center">Answer questions about space!</h3>
</div>

<br>


<!-- <div class="baseBorder" id="startButton"> -->
	<!-- <h1 class="center">START</h1> -->
<!-- </div> -->

<div class ="center">
	<form action="/question1" method="post">
		<input id="startButton" type="submit" value="Start">
	</form>
</div>

{% endblock %}
