{% extends "layout.html" %}

{% block title %}Space Quiz{% endblock %}

{% block heading %}Question {{qNum}}{% endblock %}

{% block body %}
<div>
  <h2>{{question}}</h2>
</div>
<br><br>
<form action="/next" method="post">
  <input type="radio" name="answer" value="0">{{a[0]}}</input>
  <input type="radio" name="answer" value="1">{{a[1]}}</input>
  <input type="radio" name="answer" value="2">{{a[2]}}</input>
  <input type="radio" name="answer" value="3">{{a[3]}}</input>
  <input type="hidden" value = "{{qNum}}">
  <input type = "submit">
</form>
{% endblock %}
